Notes/T09-MLP-2-exp.pdf
syllabus-CSCE421-ML-2025Spring-2.pdf
.idea/inspectionProfiles/profiles_settings.xml
.idea/MachineLearning.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
7-Jan2015-readeronly.pdf
Christopher M. Bishop, Hugh Bishop - Deep Learning_ Foundations and Concepts-Springer (2024).pdf
Deep Learning by Ian Goodfellow, Yoshua Bengio, Aaron Courville (z-lib.org).pdf
HW2/.idea/HW2.iml
HW2/.idea/inspectionProfiles/profiles_settings.xml
HW2/.idea/misc.xml
HW2/.idea/modules.xml
HW2/code/__pycache__/DataReader.cpython-312.pyc
HW2/code/__pycache__/DataReader.cpython-313.pyc
HW2/code/__pycache__/LogisticRegression.cpython-312.pyc
HW2/code/__pycache__/LogisticRegression.cpython-313.pyc
HW2/code/__pycache__/LRM.cpython-312.pyc
HW2/code/__pycache__/LRM.cpython-313.pyc
HW2/qodana.yaml
HW3/code/__pycache__/DataReader.cpython-313.pyc
HW3/code/__pycache__/MLP.cpython-313.pyc
Learning From Data.pdf
MachineLearning_TomMitchell.pdf
Notes/T01-DTrees-TMBook.pdf
Notes/T01-DTrees.pdf
Notes/T02-Prob.pdf
Notes/T03-Bayes-TMBook.pdf
Notes/T04-LR.pdf
Notes/T05-LogReg.pdf
Notes/T06-softmax-slides.pdf
Notes/T06-softmax.pdf
Notes/T07-overfitting.pdf
Notes/T08-loss-notes.pdf
Notes/T08-loss-slides.pdf
Notes/T09-MLP-1.pdf
ProfEppes/.idea/workspace.xml
ProfEppes/ProperAlignedHW7Q4-CSCE411.pdf
